@define-color bar-white #ecf0f1;
@define-color bar-black #2d3436;
@define-color bar-red #eb4d4b;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.4);
  color: @bar-white;
  transition-property: background-color;
  transition-duration: .5s;

}

window#waybar.hidden {
  opacity: 0.3;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @bar-white;
}

#workspaces button {
  padding: 0 1em 0 0.7em;
  background-color: transparent;
  color: @bar-white;
}

#workspaces button.active {
  background-color: @bar-white;
  color: @bar-black;
}

#workspaces button.active:hover {
  box-shadow: inset 0 -3px @bar-black;
}

#workspaces button.urgent {
  background-color: @bar-red;
}

#clock {
  padding: 0 0.5em;
  background-color: @bar-white;
  color: @bar-black;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#language,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: @bar-white;
}

#window,
#workspaces {
  margin: 0 4px;
}
/* you can set a style on hover for any module like this */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: @bar-white;
    color: @bar-black;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @bar-red;
  color: @bar-white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @bar-red;
}

#idle_inhibitor.activated {
  background-color: @bar-white;
  color: @bar-black;
}

#language {
  min-width: 16px;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
}

#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
  background: @bar-red;
}

